<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home?</title>
</head>
<body>
  <a href="/client/articles/">Show</a>

  <h2> <%= @article["headline"] %></h2>
  <h4><%= puts "Hello World" %></h4>
  <h3>body: <%= @article["body"] %></h3>


<button>
<a href="/client/articles/">Home</a>
</button>
</body>
</html>
